.tree{
	padding-left:9px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	font-size:15px;
}
.tree .tree-folder {
	overflow: hidden;
	width: auto;
	min-height: 20px;
	cursor: pointer;
}
.widget-body{
	width:100%;
	height: 523px;
	border-top: 0;
	background-color: #FFF;
}
.widget-main.padding-8 {
	width:100%;
	height: 513px;
	overflow: auto;
	padding-top:10px;
	float:left;
}
.tree .tree-item, .tree .tree-folder .tree-folder-header {
	margin: 0;
	color: #4d6878;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tree .tree-folder .tree-folder-header {
	border-radius: 0;
}
.tree .tree-folder .tree-folder-header {
	position: relative;
	height: 20px;
	line-height: 20px;
}
.tree .tree-folder .tree-folder-header .tree-folder-name {
	margin-left: 2px;
}
.tree .tree-folder .tree-folder-header .tree-folder-name, .tree .tree-item .tree-item-name {
	display: inline;
	z-index: 2;
}
.tree .tree-folder .tree-folder-content {
	margin-left: 23px;
	position: relative;
}
/*.tree .tree-item, .tree .tree-folder {
	border: 1px solid #FFF;
}*/
.tree .tree-item, .tree .tree-folder .tree-folder-header {
	margin: 0;
	padding: 2px  5px;
    padding-right:0px;
	color: #4d6878;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/*åŠ æ¨ªçº¿*/
.tree-folder:before, .tree-item:before {
	display: inline-block;
	content: "";
	position: absolute;
	top: 11px;
	left: -5px;
	width: 8px;
	height: 0;
	border-top: 1px dotted #67b2dd;
	z-index: 1;

}
/*åŠ ç«–çº¿*/
.tree-folder  .tree-folder-content:before {
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 1;
	top: -12px;
	bottom: 12px;
	left: -6px;
	border: 1px dotted #67b2dd;
	border-width: 0 0 0 1px;
}
.icon-plus[class*="icon-"]:first-child{
	display: inline-block;
	position: relative;
	z-index: 2;
	top: -1px;
	border: 1px solid #DDD;
	vertical-align: middle;
	height: 11px;
	width: 11px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-align: center;
	border: 1px solid #8baebf;
	line-height: 10px;
	background-color: #FFF;
	position: relative;
	z-index: 1;
}

.tree .tree-folder, .tree .tree-item{
	position:relative;
}
.tree .tree-item .tree-item-name {
	margin-left: 2px;
}
.tree .tree-item .tree-item-name {
	display: inline;
	z-index: 2;
}
.tree .tree-item {
	position: relative;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
.tree .tree-item:hover{

}
.tree .icon-minus[class*="icon-"]:first-child:before {
	content: "";
	display: block;
	width: 7px;
	height: 0;
	border-top: 1px solid #4d6878;
	position: absolute;
	top: 5px;
	left: 2px;
}
.icon-minus:before {
	content: "\f068";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	/*	speak: none;*/
}
[class^="icon-"], [class*=" icon-"] {
	/* font-family: FontAwesome;
	font-weight: normal; */
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.tree .icon-plus[class*="icon-"]:first-child:before {
	display: block;
	content: "+";
	font-family: "Open Sans";
	font-size: 16px;
	position: relative;
	z-index: 1;
}
.tree .tree-item:hover, .tree .tree-folder .tree-folder-header:hover {

	background-color: #e6e9f4;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tree .icon-implus[class*="icon-"]:first-child:before {
	display: block;
	content: "-";
	font-family: "Open Sans";
	font-size: 16px;
	position: relative;
	z-index: 1;
	color: #b4b4b4;
}
.icon-implus[class*="icon-"]:first-child{
	display: inline-block;
	position: relative;
	z-index: 2;
	top: -1px;
	border: 1px solid #DDD;
	vertical-align: middle;
	height: 11px;
	width: 11px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-align: center;
	border: 1px solid #d4d4d4;
	line-height: 10px;
	background-color: #FFF;
	position: relative;
	z-index: 1;
}